@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@500&display=swap');


$blue: #0048A9;
$grey: #edeaea;
$violet:#B186C5;
$bg: url('../img/img2.png');

/*Desktop version*/

body {
  font-family: 'Grandstander', cursive;
  width: 100vw;
  height: 100vh;
  margin: 0px;
}

/*PAGE404**/
.page404 {
  margin-top: 25%;
 
  .page404-text { 
    text-align: center;
    font-size: 10em;
    margin-top: 25%;
    background: linear-gradient(to right, #4880a0, rgba(200, 200, 200, 1));
    background-clip: text;
      color: transparent;
  }

}
/*Header*/
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  a { 
    width: 200px
  }

  img {
    width: 100%;
  }

  .ui.icon.input {
    width: 300px;
  }

  .user.circle.icon {
    font-size: 3em;
  }

  .burger-button { 
    display: none;
  }
}
/*Slides*/
.slides {
  width: 65%;
  border-radius: 20px;
  margin: auto;
  
  .carousel{
    display: flex;
    align-items: center;
    background-image: $bg;
    
    p {
      font-size: 5em;
      margin:auto;
      background: linear-gradient(to right, #000, rgba(255, 255, 255, 1));
      background-clip: text;
      color: transparent;
      transition: all 5s;
		
      &:hover {
        background: linear-gradient(to right, $blue, rgba(255, 255, 255, 1));
        background-clip: text;
        color: transparent;
      }
	
    }
  }
}
/*Quizzes pages*/
.quiz {
  padding: 5em;
  display: flex;
  flex-direction: column;

   li {
     list-style: none;
     margin-bottom: 1em;
     font-size: 1.3em;
   }
   img { 
    height: 100px;
   }
   .arrow {
     color: $blue;
     font-size: 1.2em;
     margin-top: 50px;
     &:hover{
      color: green;
    }
   }

   .ui.checkbox {
     margin-right: 1.5em;
   }
   .ui.segment {
     width: 80%;
   }
   .ui.button {
     margin: 15px;
     background-color: $violet;
     color: white;
   }
   .badAnswer {
     color: #930224;
     font-size: 1.2em;
     font-weight: bold;
     text-align: center;
   }
   .goodAnswer {
     color: #0c7f06;
     font-size: 1.2em;
     font-weight: bold;
     text-align: center;
   }
   .noAnswer {
     color: red;
   }
  
}
/*Footer*/
.footer {
  height: 40px;
  background-color: #000;
  position: fixed;
    bottom: 0;
    width: 100%;

   .footer-text {
    color: $grey;
    text-align: center;
    font-size: 1.4em;
   }
  
}


/*Mobile version*/
@media only screen and (max-width: 768px) {

  body {
    width: 100%;
  }
  /**Slides**/
  .slides {
    width: 100%;
    .react-slideshow-container {
      margin: 20px;
    }
    .carousel {
      p {
        font-size: 2em;
        margin:auto;
      }
    }
  }
  /*Header*/
  .header {

    a { 
      width: 100px
    }
    img {
      width: 100%;
      padding:10px;
    }

    .ui.icon.input {
      width: 120px;
      height: 30px;
    }
  
    .user.circle.icon {
      display: none;
    }

    .burger-button { 
      display: block;
      font-size: 2em;
      color: $blue;
    }
  }
  /*Page 404*/
  .page404 {
    margin-top: 50% !important;
   
    .page404-text { 
      font-size: 2em;
    }
  }
  /*Quiz page*/
  .quiz {
    padding: 0.5em;
    
    .main-quiz {
      background-color: $grey;
    }
    .header {
      p {
        font-size: 1em;
      }
    }
    .arrow {
      font-size: 1em;
      text-align: center;
    }
    .ui.segment {
      width: 100%;
      font-size: 0.8em;
    }
    .ui.form {
      .ui.radio.checkbox{
        label {
          font-size: 0.8em;
        }
      }
    }
    img {
      height: 50px;
    }
    .ui.form.score {
      display: flex;
      align-items: center;
      font-size: 1em;
  }
  }

}