@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@500&display=swap');


$blue: #0048A9;
$grey: #edeaea;
$violet:#B186C5;
$bg: url('../img/img2.png');

/*Desktop version*/

body {
  font-family: 'Grandstander', cursive;
  width: 100vw;
  height: 100vh;
  margin: 0px;
}

/*PAGE404**/
.page404 {
  margin-top: 25%;
 
  .page404-text { 
    text-align: center;
    font-size: 10em;
    margin-top: 25%;
    background: linear-gradient(to right, #4880a0, rgba(200, 200, 200, 1));
    background-clip: text;
      color: transparent;
  }

}
/*Header*/
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  a { 
    width: 200px
  }

  img {
    width: 100%;
  }

  .ui.icon.input {
    width: 300px;
  }

  .burger-button { 
    font-size: 2.5em;
    color: $blue;
    .menu.transition.visible {
      position: fixed;
      top: 2em;
      left: 85%;
      width: 10%;
      min-height: calc(100vh-5em);
      border-radius: 0;

      .item {
        text-align: center;
        color: $blue;
        font-weight: bold;
        border-bottom: 1px solid;
        padding: 1em 0 !important;
      }

      .item:last-child {
        border: none;
      }
    }
    
  }
}
/*Slides*/
.slides {
  width: 65%;
  border-radius: 20px;
  margin: auto;
  
  .carousel{
    display: flex;
    align-items: center;
    background-image: $bg;
    
    p {
      font-size: 5em;
      margin:auto;
      background: linear-gradient(to right, #000, rgba(255, 255, 255, 1));
      background-clip: text;
      color: transparent;
      transition: all 5s;
		
      &:hover {
        background: linear-gradient(to right, $blue, rgba(255, 255, 255, 1));
        background-clip: text;
        color: transparent;
      }
	
    }
  }
}
/*Quizzes pages*/
.quiz {
  padding: 5em;
  display: flex;
  flex-direction: column;

   li {
     list-style: none;
     margin-bottom: 1em;
     font-size: 1.3em;
   }
   img { 
    height: 100px;
   }
   .arrow {
     color: $blue;
     font-size: 1.2em;
     margin-top: 50px;
     &:hover{
      color: green;
    }
   }

   .ui.checkbox {
     margin-right: 1.5em;
   }
   .ui.segment {
     width: 80%;
   }
   .ui.button {
     margin: 15px;
     background-color: $violet;
     color: white;
   }
   .badAnswer {
     color: #930224;
     font-size: 1.2em;
     font-weight: bold;
     text-align: center;
   }
   .goodAnswer {
     color: #0c7f06;
     font-size: 1.2em;
     font-weight: bold;
     text-align: center;
   }
   .noAnswer {
     color: red;
   }
  
}
/**Item menu*/
.head {
  margin:30px;
  .ui.pointing.dropdown.link.item {
    width:12.5%;
  }
}
.mobile-menu { 
  display: none;
}
/*Profil form*/
.profil-form {
  text-align: center;
  padding: 5px;
  height: 100vh;


  img { 
    height: 100px;
  }
  p{
    font-size: 20px;
    font-weight: bold;
    color: $blue;
  }

  .ui.header {
    margin-top: 100px;
    font-family: 'Grandstander', cursive;
    color: #a52a2a;
    margin-left: 45%;
  }

  .ui.form {
    margin: 60px;

    .field {
      width: 40%;
      margin: auto;
    }

    .buttons {
      margin: 25px;
    }
    .error {
      font-size: 0.8em;
    }

  }
}
/*Profil page*/
.profil-page {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  min-height: 86vh;

  .ui.button {
    align-self: flex-end;
  }
  .header {
    img {
      width: 20%;
    }
  }
  .arrow {
    color: $blue;
    font-size: 1.2em;
    margin-top: 50px;
    &:hover{
     color: green;
   }
  }
  .ui.segment {

    background-color: $grey;

    .ui.header.welcome {
      color: $blue;
      font-size: 2em;
      text-align: center;
      margin-bottom: 50px;
      text-decoration: underline;
    }

    .ui.header {
      font-size: 1em;
    }
  }
}

/*Dashboard*/
.dashboard {
  .username {
    text-align: center;
    color: $blue;
    font-size: 2em;
  }
}
/*Footer*/
.footer {
  height: 40px;
  background-color: #000;
  position: fixed;
    bottom: 0;
    width: 100%;

   .footer-text {
    color: $grey;
    text-align: center;
    font-size: 1.4em;
   }
  
}


/*Mobile version*/
@media only screen and (max-width: 768px) {

  body {
    width: 100%;
  }
  /**Slides**/
  .slides {
    width: 100%;
    .react-slideshow-container {
      margin: 20px;
    }
    .carousel {
      p {
        font-size: 2em;
        margin:auto;
      }
    }
  }
  /*Header*/
  .header {

    a { 
      width: 100px
    }
    img {
      width: 100%;
      padding:10px;
    }

    .ui.icon.input {
      width: 120px;
      height: 30px;
    }
  
    .user.circle.icon {
      display: none;
    }

    .burger-button { 
      font-size: 2.5em;
      color: $blue;

      .menu.transition.visible {
        position: fixed;
        top: 2em;
        left: 50%;
        width: 50vw;
        min-height: calc(100vh-5em);
        border-radius: 0;
  
        .item {
          text-align: center;
          color: $blue;
          font-weight: bold;
          border-bottom: 1px solid;
          padding: 1.3em 0 !important;
        }
  
        .item:last-child {
          border: none;
        }
      }
    }
  }
  /*Page 404*/
  .page404 {
    margin-top: 50% !important;
   
    .page404-text { 
      font-size: 2em;
    }
  }
  /*Item menu*/
  .head { 
    display: none;
  }
  .mobile-menu { 
    display: block;
    padding: 10px;
    .ui.pointing.dropdown.link.item {
      margin: 2%;
      padding:10px;
      border-radius: 5px;
    }
    .menu.transition.visible {
      padding: 10px;
        a {
          padding: 3px;
        }
    }
  }
  /*Quiz page*/
  .quiz {
    padding: 0.5em;
    
    .main-quiz {
      background-color: $grey;
    }
    .header {
      p {
        font-size: 1em;
      }
    }
    .arrow {
      font-size: 1em;
      text-align: center;
    }
    .ui.segment {
      width: 100%;
      font-size: 0.8em;
    }
    .ui.form {
      .ui.radio.checkbox{
        label {
          font-size: 0.8em;
        }
      }
    }
    img {
      height: 50px;
    }
    .ui.form.score {
      display: flex;
      align-items: center;
      font-size: 1em;
  }
  }
  /*Dashboard*/
.dashboard {
  .username {
    text-align: center;
    color: $blue;
    font-size: 1em;
  }
}
/*Profil page*/
.profil-page {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  min-height: 86vh;

  .header {
    img {
      width: 100%;
    }
  }

  .ui.segment {

    background-color: $grey;

    .ui.header.welcome {
      color: $blue;
      font-size: 1em;
      text-align: center;
      margin-bottom: 30px;
      text-decoration: underline;
    }
  }
}
  /*Profil-form */
  .profil-form { 
    img { 
      height: 50px;
    }
    p{
      font-size: 10px;
      font-weight: bold;
      color: $blue;
    }
    .ui.header {
      margin-top: 100px;
      font-family: 'Grandstander', cursive;
      color: #a52a2a;
      margin-left: 35%;
      font-size: 1em;
    }
    .ui.form {
      margin: 30px;
  
      .field {
        width: 90%;
        margin: auto;
      }
  
      .buttons {
        margin: 25px;
      }
      .error {
        font-size: 0.8em;
      }
    }
  }
  /*Footer*/
  .footer {

     .footer-text {
       margin-top: 10px;
      font-size: 1em;
     }
    
  }
}